<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->

    <!-- Like a for each loop in Java, reviews chapter 13, iterating in a template -->
    <ol>
      <th:block th:each="item : ${jobs}">
        <li th:text="${item}"></li>
      </th:block>
    </ol>


</div>

</body>
</html>